*.js
*.js.map
!/*.js
!/tasks/*.js
/_build
/bower_components
/dist
/html-report
!node_modules
node_modules/*
!node_modules/@dojo
node_modules/@dojo/*
!node_modules/@dojo/stores/
!node_modules/@dojo/stores/**/*.js.map
!node_modules/@dojo/stores/**/*.js
!node_modules/@dojo/widgets/
!node_modules/@dojo/widgets/**/*.js.map
!node_modules/@dojo/widgets/**/*.js
/typings
.baseDir.ts
.tscache
.vscode
.tsconfig*.json
coverage-unmapped.json
npm-debug.log
.idea
