.gridHeader {
	overflow: hidden;
	background-color: #eee;
}

.gridHeaderRow {
	position: absolute;
	right: 17px;
	left: 0;
	overflow: hidden;
	background-color: #eee;
}

.gridHeaderTable {
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	empty-cells: show;
	width: 100%;
	height: 100%;
}
