.footer {
	overflow: hidden;
	background-color: #eee;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.status {
	padding: 2px;
	float: left;
}

.navigation {
	float: right;
}

.previousPage, .nextPage {
	font-size: 130%;
}

.pageLink {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	padding: 0 4px;
}

.disabledPageLink {
	color: #aaa;
	cursor: default;
}